node_modules
# Keep environment variables out of version control
.env

# Keep built files out of version control
dist/*

# Ignore test files
**/*test.*
# Except test controller
#!**/test.controller.ts

public/*
!public/assets/

# Ignore Extension folders
.VSCodeCounter